@import url("root.css");
@import url("tooltip.css");

/* general */

html,body {
    margin: 0;
    padding: 0;
}

a:link {
  color: var(--link-text-color);
}

a:visited {
  color: var(--link-text-color-visited); /* the old-school purple of shame */
}


body {
  margin: 0;

  background-color: #d8d8d8; /* fallback */
  background: var(--background);
  background-position: var(--bg-pos);
  background-repeat: var(--bg-rept);
  background-size: var(--bg-size);
  background-attachment: var(--bg-atchmnt);
  animation: var(--bg-anim);

  color: var(--text-color);
  font-family: var(--default-font);
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  backdrop-filter: blur(var(--bg-blur));
  z-index: -1;
}

@keyframes drift {
    0%   { background-position: 0% 0%; }
    100% { background-position: 100% 100%; }
}

main {
    margin: var(--content-margin);
}

.title {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2em;
    font-weight: bold;
}

.secretQRcode {
    width: fill;
    max-width: 750px;
}

#loading-screen {
  position: fixed;
  inset: 0;
  background: #000;
  color: #21e2d9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transition: opacity 0.6s ease, visibility 0.6s ease;
}

#loading-screen.hidden {
  opacity: 0;
  visibility: hidden;
}

.spinner {
  background: var(--loading-wheel);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
