@import url("root.css");
@import url("tooltip.css");

/* general */

html,body {
    margin: 0;
    padding: 0;
}

a:link {
  color: var(--text_link);
}

a:visited {
  color: var(--text_linkVisited);
}


body {
  margin: 0;

  background: var(--bg_src);
  background-position: var(--bg_pos);
  background-repeat: var(--bg_rept);
  background-size: var(--bg_size);
  background-attachment: var(--bg_atchmnt);
  animation: var(--bg_anim);

  color: var(--text_color);
  font-family: var(--text_defaultFont);
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  backdrop-filter: blur(var(--bg-blur));
  z-index: -1;
}

/* since webkit browsers (such as SAFARI) are stupid and stupid and buggy
and... did i mention that they are stupid already?.. anyways basically webkit
doesn't like the -1 z-index, so safari users don't get background blur.
sad. get a better browser. */
@supports (-webkit-touch-callout: none) {
  body::before {
    z-index: 0 !important;
    backdrop-filter: none !important;
    -webkit-backdrop-filter: none !important;
  }
}

@keyframes drift {
    0%   { background-position: 0% 0%; }
    100% { background-position: 100% 100%; }
}

main {
    margin: var(--misc_contentMargin);
}

.title {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2em;
    font-weight: bold;
}

.secretQRcode {
    width: fill;
    max-width: 750px;
}

#loading-screen {
  position: fixed;
  inset: 0;
  background: #000;
  color: #21e2d9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transition: opacity 0.6s ease, visibility 0.6s ease;
}

#loading-screen.hidden {
  opacity: 0;
  visibility: hidden;
}

.spinner {
  background: var(--loading-wheel);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
