@import url("root.css");

.manual-page {
    padding-bottom: 50px;
}

.intro {
    margin-top: 10px;
    background-color: #ffffff9d;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    width: fit-content;
    padding: 20px;
    border-radius: 7px;
    border: 1px solid rgb(0, 255, 64);
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.intro > * {
    margin: 0;
}

.article {
    margin-top: 20px;
    width: fit-content;
    font-size: 20px;
}


body.viewer {
    margin: 0;
}

body.viewer img {
    border: 2px solid black;
    border-radius: 3px;
}

#content {
    margin: 20px;
}

#return-btn {
    border-radius: 0px;
    border: none;
    position: fixed;
    background: var(--manual_backButton);
    background-size: var(--manual_backButtonSize);
    background-repeat: no-repeat;
    background-position: center;
    bottom: 0;
    right: 0;
    width: 150px;
    height: 150px;
    cursor: pointer;
    user-select: none;
    z-index: 9999;
}

#return-btn:active {
    width: 130px;
    height: 130px;
    opacity: 0.7;
}
