@import url("root.css");

main,
.manual-page {
    max-width: 720px;
    margin: 0 auto;
    padding: 0 16px;
}

/*
    JANKY JANK JANK JANK!!!!
    JANK!!!!! STUPID!!!!!
    AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA!!
    FIND A BETTER WAY TO DO THIS LATER.
*/
main {
    margin-top: 60px;
}
/* jank warning end */

.manual-page {
    padding-bottom: 50px;
}

.intro {
    margin-top: 10px;
    background: var(--defaultDiv_bg);
    box-shadow: var(--defaultDiv_shadow);
    backdrop-filter: var(--defaultDiv_filter);
    width: fit-content;
    padding: 20px;
    border-radius: 7px;
    border: var(--defaultDiv_border);
    color: var(--defaultDiv_textColor);
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.intro * {
    margin: 0;
}

.article {
    margin-top: 20px;
    width: fit-content;
    font-size: 20px;
    transition: 0.2s ease-in-out;
}

.article:hover {
    transform: scale(1.1);
    padding-top: 5px;
    padding-bottom: 5px;
}


body.viewer {
    margin: 0;
}

body.viewer img {
    border: 2px solid black;
    border-radius: 3px;
}

#content {
    margin: 20px;
}

#return-btn {
    border-radius: 0px;
    border: none;
    position: fixed;
    background: var(--manual_backButton);
    background-size: var(--manual_backButtonSize);
    background-repeat: no-repeat;
    background-position: center;
    bottom: 0;
    right: 0;
    width: 150px;
    height: 150px;
    cursor: pointer;
    user-select: none;
    z-index: 9999;
}

#return-btn:active {
    width: 130px;
    height: 130px;
    opacity: 0.7;
}
