@import url("root.css");

main,
.manual-page {
    max-width: 720px;
    margin: 0 auto;
    padding: 0 16px
}

.intro {
    margin-top: 10px;
    background-color: #ffffff9d;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    width: fit-content;
    padding: 20px;
    border-radius: 7px;
    border: 1px solid rgb(0, 255, 64);
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.intro > * {
    margin: 0;
}

.article {
    margin-top: 20px;
    width: fit-content;
    font-size: 20px;
}


body.viewer {
    margin: 0;
}

body.viewer img {
    border: 2px solid black;
    border-radius: 3px;
}

#content {
    margin: 20px;
}

#return-btn {
    border-radius: 0px;
    border: none;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 150px;
    height: auto;
    cursor: pointer;
    user-select: none;
    z-index: 9999;
}

#return-btn:active {
    width: 130px;
    opacity: 0.7;
}
