.miiverse-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 8px;
    background-color: #fafafa;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.24);
    transition:
        box-shadow 0.15s ease,
        transform 0.1s ease;
}

.miiverse-btn span {
    font-family: 'Miiverse Symbols';
    text-shadow: 1px 1px 0 #fff, -1px -1px 0 #0000004b;
    font-size: large;
}

.miiverse-btn:active {
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.192),
                inset -2px -2px 5px rgba(255,255,255,0.8);
    transform: scale(0.95)
}

.miiverse-btn.green span {
    color: rgb(41, 216, 41);
}

.miiverse-btn.red span {
    color: rgb(216, 41, 41);
}

.miiverse-btn.blue span {
    color: rgb(41, 146, 216);
}

.miiverse-btn.gold span {
    color: rgb(250, 214, 12);
}

.miiverse-btn.purple span {
    color: rgb(155, 12, 250);
}