@import url("root.css");
@import url("tooltip.css");

.logo {
    content: var(--nav_logo);
    max-height: 45px;
}

#logo-container {
    display: var(--nav_logoDisplay);
    margin: var(--nav_iconMargin);
}

#logo-container.hidden {
    display: none;
}

.navbar-left {
    display: flex;
    align-items: center;
}

@media (max-width: 600px) {
    #logo-container {
        display: none !important;
    }

    .navbar {
        justify-content: center !important;
    }
}

@media (max-width: 325px) {
    /* stops working at under ~220px, but realisticly, when are we gonna have a screen THAT small? */
    .navbar-left .nav-btn,
    .navbar-right .nav-btn {
        width: 10vw;
        height: 10vw;
    }
}


.navbar {
    background: var(--nav_background);
    background-size: cover;
    border-bottom: 2px solid var(--misc_accentColor);
    backdrop-filter: var(--nav_backgroundFilter);
    background-blend-mode: multiply;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    width: var(--nav_width);
    height: var(--nav_height);
    position: fixed;
    inset: var(--nav_position);
    z-index: 100;
    padding: var(--nav_padding);
    box-sizing: border-box;
    display: flex;
    flex-direction: var(--nav_direction);
    justify-content: var(--nav_justify);
    align-items: center;
}

.navbar * {
    display: flex;
    flex-direction: var(--nav_direction);
}

.nav-btn {
    width: 40px;
    height: 40px;
    margin-bottom: 2px;
}

.icon-holder {
    background: var(--nav_iconBg);
    margin: var(--nav_iconMargin);
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    padding: 2px;

    transition: 0.2s ease-in-out;
}

.icon-holder img {
    width: auto;
    height: 40px;
}

.icon-holder:hover {
    transform: scale(1.1);
    margin: var(--nav_iconMargin) calc(var(--nav_iconMargin) + 2px);
}

/* ..jank? jank. */
.nav-btn.videos { background: var(--navIcon_videos) center/contain no-repeat; }
.nav-btn.users { background: var(--navIcon_users) center/contain no-repeat; }
.nav-btn.news { background: var(--navIcon_news) center/contain no-repeat; }
.nav-btn.manual { background: var(--navIcon_manual) center/contain no-repeat; }
.nav-btn.settings { background: var(--navIcon_settings) center/contain no-repeat; }