@import url("root.css");
@import url("tooltip.css");

/* i am losing my fckn mind right now i hate this so much god */
.logo {
    content: var(--logo);
    max-height: 45px;
}

#logo-container {
    display: var(--logo-display);
    margin-right: 10px;
}

#logo-container.hidden {
    display: none;
}

.navbar-left {
    display: flex;
    align-items: center;
}


.navbar * span {
    background: var(--nav-btn-back);
    margin: var(--nav-btn-margin);
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    padding: 2px;
}

.navbar * span img {
    width: auto;
    height: 40px;
}

@media (max-width: 600px) {
    #logo-container {
        display: none !important;
    }

    .navbar {
        justify-content: center !important;
    }
}

@media (max-width: 325px) {
    /* stops working at under ~220px, but realisticly, when are we gonna have a screen THAT small? */
    .navbar-left .nav-btn,
    .navbar-right .nav-btn {
        width: 10vw;
        height: 10vw;
    }
}


.navbar {
    background: var(--nav-background);
    background-size: cover;
    border-bottom: 2px solid var(--accent-color);
    backdrop-filter: var(--nav-bg-filter);
    background-blend-mode: multiply;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    width: var(--nav-width);
    height: var(--nav-height);
    position: fixed;
    inset: var(--nav-position);
    z-index: 100;
    padding: var(--nav-padding);
    box-sizing: border-box;
    display: flex;
    flex-direction: var(--nav-direction);
    justify-content: var(--nav-justify);
    align-items: center;
}

.navbar * {
    display: flex;
    flex-direction: var(--nav-direction);
}

.nav-btn {
    width: 40px;
    height: 40px;
    margin-bottom: 2px;
}

/* ..jank? jank. */
.nav-btn.videos { background: var(--nav-videos) center/contain no-repeat; }
.nav-btn.users { background: var(--nav-users) center/contain no-repeat; }
.nav-btn.news { background: var(--nav-news) center/contain no-repeat; }
.nav-btn.manual { background: var(--nav-manual) center/contain no-repeat; }
.nav-btn.settings { background: var(--nav-settings) center/contain no-repeat; }