@import url("root.css");
@import url("tooltip.css");

.logo {
    margin-right: 10px;
    max-height: 45px;
    content: var(--logo);
}

.logo.hidden {
    display: none; /* disappears when navbar overflows */
}

.navbar-left {
    display: flex;
    align-items: center;
}


.navbar * span {
    background: var(--nav-btn-back);
    margin: var(--nav-margin);
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    padding: 2px;
}

.navbar * span img {
    width: auto;
    height: 40px;
}

.navbar {
    background: var(--nav-background);
    background-size: cover;
    border-bottom: 2px solid var(--accent-color);
    backdrop-filter: var(--nav-bg-filter);
    background-blend-mode: multiply;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-btn {
    width: 40px;
    height: 40px;
    margin-bottom: 2px;
}


.nav-btn.videos { background: var(--nav-videos) center/contain no-repeat; }
.nav-btn.users { background: var(--nav-users) center/contain no-repeat; }
.nav-btn.news { background: var(--nav-news) center/contain no-repeat; }
.nav-btn.manual { background: var(--nav-manual) center/contain no-repeat; }
.nav-btn.settings { background: var(--nav-settings) center/contain no-repeat; }