/*
    Hello there, future developer!
    I have changed the naming scheme of CSS variables in this commit.
    Here's how it works:
      --[location]_[style]: (your shtuff here)

    If this applies to a certain page (e.g. the styles used for the videos on the videos page, it would be something like this:
      --videos_divBorder: (kewl css here)

    Please use this naming scheme.
    Or I will either do it myself or revert your commit.
    Bye.

    And it's "coolStyleName" and not cool-style-name or coolstylename or Coolstylename or... you get it.
    Use your eyes.
*/

:root[data-theme="touchsomegrass"] {
    --default-font: 'Comic Sans MS', sans-serif;
    --background: url("/assets/img/grass.png") repeat;
}

:root[data-theme="ns2"] {
    --text-color: black;
    --default-font: sans-serif;
    --accent-color: rgba(84, 131, 232, 1);

    --background: rgb(241, 241, 241);
    --bg_anim: none;
}

:root[data-theme="tv"] {
    --logo-display: none;
    --nav_position: auto auto 0 0;
    --nav_btn-margin: 5px 0px;
    --nav_direction: column;
    --nav_width: auto;
    --nav_background: rgba(0, 0, 0, 0.05);
    --nav_height: 100%;
    --nav_btn-back: none;
    --nav_justify: center;
    --content-margin: 10px 10px 10px 100px;

    --bg_src: linear-gradient(180deg,rgb(232, 81, 219) 0%, rgb(222, 62, 110) 50%, rgb(22, 17, 19) 100%);
    --bg_rept: no-repeat;
    --bg_anim: none;
    --bg_atchmnt: fixed;
    --bg_size: cover;
    --bg_pos: right center;
    --bg_blur: 10px;
    --text-color: white;
}

:root[data-theme="vista"] {
    --text-color: rgb(255, 255, 255);
    --default-font: sans-serif;
    --accent-color: rgb(207, 207, 207);

    --logo: url("/assets/img/ui/vista/win7icon.png");

    --videobox-bg: #3131319d;

    --nav_overlay-color: rgba(0, 0, 0, 0.1);
    --nav_background:
      linear-gradient(var(--nav_overlay-color), var(--nav_overlay-color)),
      url("/assets/img/ui/vista/navbar.png");

    --nav_bg_filter: blur(100px);

    --nav_videos: url("/assets/img/icons/mediaplayer.ico");
    --nav_users: url("/assets/img/icons/win_live_messenger.png");
    --nav_manual: url('/assets/img/icons/win_help.png');
    --nav_news: url("/assets/img/icons/win_mail.png");
    --nav_settings: url("/assets/img/icons/control_panel.png");

    --nav_padding: 2px 10px;
    --nav_btn-margin: 2px;
    --nav_btn-back: none;

    --manual-back-button: url("/assets/img/ui/vista/return.png");
    --manual-back-button-size: 65%;

    --link-text-color: rgb(0, 17, 255);
    --link-text-color-visited: rgb(145, 119, 238);

    --loading-wheel: url("/assets/img/ui/vista/loading.png");

    --bg_src: url("/assets/img/backgrounds/win7-1.jpg");

    --bg_rept: no-repeat;
    --bg_anim: none;
    --bg_atchmnt: fixed;
    --bg_size: cover;
    --bg_pos: right center;
    --bg_blur: 10px;

    --content-top: 60px;

    --profile-gradient: linear-gradient(130deg,rgba(255, 255, 255, 0.25) 0%, rgba(233, 233, 233, 0.3) 100%);
    --username-color: rgb(55, 129, 80);
    --tag-color: rgb(226, 226, 226);
    --desc-color: rgb(236, 236, 236);

    --button-bg: linear-gradient(180deg,rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.75) 20%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.5) 70%, rgba(255, 255, 255, 0.5) 100%);
    --button-txt-color: rgb(41, 41, 41);
    --button-border: 1px solid rgba(255, 255, 255, 0.945);
    --button-font-weight: bold;

    --tooltip_bg: rgba(255, 255, 255, 0.336);
    --tooltip_padding: 5px 10px;
    --tooltip_font: sans-serif;
}

:root[data-theme="classic"] {
    /* navbar */
    --text-color: black;
    --default-font: sans-serif;
    --symbols-font: 'Miiverse Symbols';

    --profile-gradient: linear-gradient(130deg,rgb(208, 255, 206) 0%, rgb(234, 255, 224) 100%);

    --videobox-bg: #ffffff9d;

    --background: url("/assets/img/backgrounds/miiverse.png");
    --bg_anim: drift 60s linear infinite;
    --bg_rept: repeat;

    /* navbar */
    --accent-color: #2ee775;
    --nav_background: rgba(240, 255, 255, 0.742);
    --logo: url("/assets/img/logo.png");
    --nav_btn-back: linear-gradient(to bottom, #e3e3e3, #eeeeee);
    --nav_videos: url("/assets/img/icons/tvii.png");
    --nav_users: url("/assets/img/icons/miiverse.png");
    --nav_news: url("/assets/img/icons/daily_log.png");
    --nav_manual: url("/assets/img/icons/health_and_safety.png");
    --nav_settings: url("/assets/img/icons/system_settings.png");
    --nav_margin: 10px;

    /* users page */
    --username-color: rgb(55, 129, 88);
    --tag-color: rgb(194, 194, 194);
    --desc-color: rgb(85, 85, 85);

    /* tooltips */
    --tooltip_bg: #222;
    --tooltip_color: #fff;
    --tooltip_padding: 8px 12px;
    --tooltip_radius: 8px;
    --tooltip_delay: 150ms;
    --tooltip_offset: 10px;
    --tooltip_arrow-size: 7px;
    --tooltip_font: 'Wii Sans';
}

:root {
    /* misc */
    --misc_accentColor: #2ed1e7;
    --misc_contentMargin: 80px 10px 10px 10px;


    /* text-related things */
    --text_color: black;
    --text_link: blue;
    --text_linkVisited: purple;
    --text_defaultFont: sans-serif;
    --text_symbolsFont: 'Miiverse Symbols';


    /* page background */
    --bg_src: url("/assets/img/backgrounds/miiverse.png");
    --bg_anim: drift 60s linear infinite;
    --bg_rept: repeat;
    --bg_blur: 4px;
    --bg_atchmnt: scroll;
    --bg_size: auto;
    --bg_pos: center;


    /* buttons */
    --button_bg: #fafafa;
    --button_border: none;
    --button_txtColor: black;
    --button_fontWeight: normal;


    /* navbar */
    --nav_background: rgba(240, 255, 255, 0.742);
    --nav_backgroundFilter: none;
    --nav_position: 0 auto auto 0;
    --nav_direction: row;
    --nav_width: 100%;
    --nav_height: auto;
    --nav_padding: 0px 15px;
    --nav_justify: space-between;

    --nav_logo: url("/assets/img/logo.png");
    --nav_logoDisplay: block;

    --nav_iconBg: linear-gradient(to bottom, #e3e3e3, #eeeeee);
    --nav_iconMargin: 10px;

    --navIcon_videos: url("/assets/img/icons/tvii.png");
    --navIcon_users: url("/assets/img/icons/miiverse.png");
    --navIcon_news: url("/assets/img/icons/daily_log.png");
    --navIcon_manual: url("/assets/img/icons/health_and_safety.png");
    --navIcon_settings: url("/assets/img/icons/system_settings.png");
    --videobox-bg: #ffffff9d;


    /* manual */
    --manual_backButton: url("/assets/img/ui/wiiu/black-return.png");
    --manual_backButtonSize: 100%;


    /* loading screen */
    --loading_wheelIcon: url("/assets/img/ui/wiiu/loading.png");
    --loading_bg: black;


    /* users page */
    --users_cardBg: linear-gradient(130deg,rgb(206, 237, 255) 0%, rgb(224, 255, 253) 100%);
    --users_nameColor: rgb(55, 129, 118);
    --users_tagColor: rgb(194, 194, 194);
    --users_descColor: rgb(85, 85, 85);


    /* tooltips */
    --tooltip_bg: #222;
    --tooltip_color: #fff;
    --tooltip_padding: 8px 12px;
    --tooltip_radius: 8px;
    --tooltip_delay: 150ms;
    --tooltip_offset: 10px;
    --tooltip_arrowSize: 7px;
    --tooltip_font: 'Wii Sans';
}

@font-face {
  font-family: "Miiverse Symbols";
  src: url("/assets/font/MiiverseSymbols-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Wii Sans";
  src: url("/assets/font/WiiSans-Regular-4.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}