:root[data-theme="touchsomegrass"] {
    --default-font: 'Comic Sans MS', sans-serif;
    --background: url("/assets/img/grass.png") repeat;
}

:root[data-theme="ns2"] {
    --text-color: black;
    --default-font: sans-serif;
    --accent-color: rgba(84, 131, 232, 1);

    --background: rgb(241, 241, 241);
    --bg-anim: none;
}

:root[data-theme="vista"] {
    --text-color: rgb(255, 255, 255);
    --default-font: sans-serif;
    --accent-color: rgb(207, 207, 207);

    --logo: url("/assets/img/icons/mediaplayer.ico");

    --videobox-bg: #3131319d;

    --nav-background: rgba(54, 54, 54, 0.742);
    --nav-videos: url("/assets/img/icons/mediaplayer.ico");
    --nav-users: url("/assets/img/icons/win_live_messenger.png");
    --nav-btn-back: none;

    --tooltip-font: sans-serif;

    --background: url("/assets/img/win7bg.jpg");
    --bg-rept: no-repeat;
    --bg-anim: none;
    --bg-atchmnt: fixed;
    --bg-size: auto 100%;
    --bg-pos: right center;
}

:root[data-theme="classic"] {
    --text-color: black;
    --default-font: sans-serif;
    --symbols-font: 'Miiverse Symbols';

    --background: url("/assets/img/miiversebackground.png");
    --bg-anim: drift 60s linear infinite;
    --bg-rept: repeat;

    /* navbar */
    --accent-color: #2ee775;
    --logo: url("/assets/img/logo.png");

    /* users page */
    --username-color: rgb(53, 173, 73);
    --desc-color: rgb(0, 0, 0);
    --profile-gradient: linear-gradient(130deg,rgb(210, 255, 206) 0%, rgb(224, 255, 228) 100%);
}

:root {
    --text-color: black;
    --default-font: sans-serif;
    --symbols-font: 'Miiverse Symbols';

    --profile-gradient: linear-gradient(130deg,rgb(206, 255, 236) 0%, rgb(224, 255, 228) 100%);

    --videobox-bg: #ffffff9d;

    --background: url("/assets/img/miiversebackground.png");
    --bg-anim: drift 60s linear infinite;
    --bg-rept: repeat;

    /* navbar */
    --accent-color: #2ed1e7;
    --nav-background: rgba(240, 255, 255, 0.742);
    --logo: url("/assets/img/logo.png");
    --nav-btn-back: linear-gradient(to bottom, #e3e3e3, #eeeeee);
    --nav-videos: url("/assets/img/icons/tvii.png");
    --nav-users: url("/assets/img/icons/miiverse.png");
    --nav-news: url("/assets/img/icons/daily_log.png");
    --nav-manual: url("/assets/img/icons/health_and_safety.png");
    --nav-settings: url("/assets/img/icons/system_settings.png");

    /* users page */
    --username-color: rgb(55, 129, 118);
    --tag-color: rgb(194, 194, 194);
    --desc-color: rgb(85, 85, 85);

    /* tooltips */
    --tooltip-bg: #222;
    --tooltip-color: #fff;
    --tooltip-padding: 8px 12px;
    --tooltip-radius: 8px;
    --tooltip-delay: 150ms;
    --tooltip-offset: 10px;
    --tooltip-arrow-size: 7px;
    --tooltip-font: 'Wii Sans';
}

@font-face {
  font-family: "Miiverse Symbols";
  src: url("/assets/font/MiiverseSymbols-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Wii Sans";
  src: url("/assets/font/WiiSans-Regular-4.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}