/*
    Hello there, future developer!
    I have changed the naming scheme of CSS variables in this commit.
    Here's how it works:
      --[location]_[style]: (your shtuff here)

    If this applies to a certain page (e.g. the styles used for the videos on the videos page, it would be something like this:
      --videos_divBorder: (kewl css here)

    Please use this naming scheme.
    Or I will either do it myself or revert your commit.
    Bye.

    And it's "coolStyleName" and not cool-style-name or coolstylename or Coolstylename or... you get it.
    Use your eyes.
*/

:root[data-theme="touchsomegrass"] {
    --text_defaultFont: 'Comic Sans MS', sans-serif;
    --bg_src: url("/assets/img/grass.png") repeat;
}

:root[data-theme="ns2"] {
    --text_color: black;
    --text_defaultFont: sans-serif;
    --misc_accentColor: rgba(84, 131, 232, 1);

    --bg_src: rgb(241, 241, 241);
    --bg_anim: none;
}

:root[data-theme="tv"] {
    --nav_logoDisplay: none;
    --nav_position: auto auto 0 0;
    --nav_iconMargin: 5px 0px;
    --nav_direction: column;
    --nav_width: auto;
    --nav_background: rgba(0, 0, 0, 0.05);
    --nav_height: 100%;
    --nav_iconBg: none;
    --nav_justify: center;
    --misc_contentMargin: 10px 10px 10px 100px;
    --misc_accentColor: none;

    --bg_src: linear-gradient(180deg,rgb(232, 81, 219) 0%, rgb(222, 62, 110) 50%, rgb(22, 17, 19) 100%);
    --bg_rept: no-repeat;
    --bg_anim: none;
    --bg_atchmnt: fixed;
    --bg_size: cover;
    --bg_pos: right center;
    --bg_blur: 10px;
    --text_color: white;
}

:root[data-theme="vista"] {
    --text_color: rgb(255, 255, 255);
    --text_defaultFont: sans-serif;
    --misc_accentColor: rgb(207, 207, 207);

    --nav_logo: url("/assets/img/ui/vista/win7icon.png");

    --videobox-bg: #3131319d;

    --nav_overlayColor: rgba(0, 0, 0, 0.1);
    --nav_background:
      linear-gradient(var(--nav_overlayColor), var(--nav_overlayColor)),
      url("/assets/img/ui/vista/navbar.png");

    --nav_bgFilter: blur(100px);

    --navIcon_videos: url("/assets/img/icons/mediaplayer.ico");
    --navIcon_users: url("/assets/img/icons/win_live_messenger.png");
    --navIcon_manual: url('/assets/img/icons/win_help.png');
    --navIcon_news: url("/assets/img/icons/win_mail.png");
    --navIcon_settings: url("/assets/img/icons/control_panel.png");

    --nav_padding: 2px 10px;
    --nav_iconMargin: 2px;
    --nav_iconBg: none;

    --manual_backButton: url("/assets/img/ui/vista/return.png");
    --manual_backButtonSize: 65%;

    --text_link: rgb(0, 17, 255);
    --text_linkVisited: rgb(145, 119, 238);

    --loading_wheelIcon: url("/assets/img/ui/vista/loading.png");

    --bg_src: url("/assets/img/backgrounds/win7-1.jpg");
    --bg_rept: no-repeat;
    --bg_anim: none;
    --bg_atchmnt: fixed;
    --bg_size: cover;
    --bg_pos: right center;
    --bg_blur: 10px;

    --misc_contentMargin: 60px 5px 5px 5px;

    --users_cardBg: linear-gradient(130deg,rgba(255, 255, 255, 0.25) 0%, rgba(233, 233, 233, 0.3) 100%);
    --users_nameColor: rgb(55, 129, 80);
    --users_tagColor: rgb(226, 226, 226);
    --users_descColor: rgb(236, 236, 236);

    --button_bg: linear-gradient(180deg,rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.75) 20%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.5) 70%, rgba(255, 255, 255, 0.5) 100%);
    --button_txtColor: rgb(41, 41, 41);
    --button_border: 1px solid rgba(255, 255, 255, 0.945);
    --button_fontWeight: bold;

    --tooltip_bg: rgba(255, 255, 255, 0.336);
    --tooltip_padding: 5px 10px;
    --tooltip_font: var(--text_defaultFont);
}

:root[data-theme="classic"] {
    --text_color: black;
    --text_defaultFont: sans-serif;
    --text_symbolsFont: 'Miiverse Symbols';

    --defaultDiv_bg: linear-gradient(130deg,rgb(208, 255, 206) 0%, rgb(234, 255, 224) 100%);
    --defaultDiv_textColor: var(--text_color)
    --defaultDiv_border: var(--misc_accentColor);
    --defaultDiv_filter: none;
    --defaultDiv_shadow: none;

    --users_cardBg: var(--defaultDiv_bg);
    --users_cardFilters: none;
    --users_cardShadow: 0 4px 12px rgba(0,0,0,0.15), 0 0 12px rgba(42,127,85,0.08) inset;
    --users_pfpBorder: 2px solid rgba(42,127,85,0.2);
    --users_pfpRadius: 50%;
    --users_pfpSize: 70px;
    --users_nameColor: rgb(55, 129, 88);
    --users_tagColor: #777;
    --users_descColor: rgb(85, 85, 85);

    --videobox-bg: #ffffff9d;

    --bg_src: url("/assets/img/backgrounds/miiverse.png");
    --bg_anim: drift 60s linear infinite;
    --bg_rept: repeat;
    --bg_blur: none;
    --bg_atchmnt: scroll;
    --bg_size: auto;
    --bg_pos: auto;

    --button_bg: #fafafa;
    --button_border: none;
    --button_txtColor: black;
    --button_fontWeight: normal;
    --button_iconShadow: 1px 1px 0 #fff, -1px -1px 0 #0000004b;

    --misc_accentColor: #2ee775;
    --nav_background: rgba(240, 255, 255, 0.742);
    --nav_logo: url("/assets/img/logo.png");
    --nav_iconBg: linear-gradient(to bottom, #e3e3e3, #eeeeee);
    --navIcon_videos: url("/assets/img/icons/tvii.png");
    --navIcon_users: url("/assets/img/icons/miiverse.png");
    --navIcon_news: url("/assets/img/icons/daily_log.png");
    --navIcon_manual: url("/assets/img/icons/health_and_safety.png");
    --navIcon_settings: url("/assets/img/icons/system_settings.png");
    --nav_margin: 10px;

    --tooltip_bg: #222;
    --tooltip_color: #fff;
    --tooltip_padding: 8px 12px;
    --tooltip_radius: 8px;
    --tooltip_delay: 150ms;
    --tooltip_offset: 10px;
    --tooltip_arrowSize: 7px;
    --tooltip_font: 'Wii Sans';
}

:root {
    --misc_accentColor: #2ed1e7;
    --misc_contentMargin: 80px 10px 10px 10px;

    --text_color: black;
    --text_link: blue;
    --text_linkVisited: purple;
    --text_defaultFont: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans';
    --text_symbolsFont: 'Miiverse Symbols';

    --defaultDiv_bg: none;
    --defaultDiv_textColor: var(--text_color)
    --defaultDiv_border: var(--misc_accentColor);
    --defaultDiv_filter: blur(10px) saturate(150%) contrast(120%);
    --defaultDiv_shadow: 0 8px 32px rgba(0, 0, 0, 0.2);

    --bg_src: url("/assets/img/backgrounds/miiverse.png");
    --bg_anim: drift 60s linear infinite;
    --bg_rept: repeat;
    --bg_blur: 4px;
    --bg_atchmnt: scroll;
    --bg_size: auto;
    --bg_pos: center;

    --button_bg: linear-gradient(180deg,rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.75) 20%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.5) 70%, rgba(182, 208, 233, 0.5) 100%);
    --button_txtColor: rgb(41, 41, 41);
    --button_border: 1px solid rgba(255, 255, 255, 0.945);
    --button_fontWeight: normal;
    --button_iconShadow: 1px 1px 0 #fff, -1px -1px 0 #0000004b;

    --nav_background: rgba(240, 255, 255, 0.742);
    --nav_backgroundFilter: none;
    --nav_position: 0 auto auto 0;
    --nav_direction: row;
    --nav_width: 100%;
    --nav_height: auto;
    --nav_padding: 0px 15px;
    --nav_justify: space-between;

    --nav_logo: url("/assets/img/logo.png");
    --nav_logoDisplay: block;

    --nav_iconBg: linear-gradient(to bottom, #e3e3e3, #eeeeee);
    --nav_iconMargin: 10px;

    --navIcon_videos: url("/assets/img/icons/tvii.png");
    --navIcon_users: url("/assets/img/icons/miiverse.png");
    --navIcon_news: url("/assets/img/icons/daily_log.png");
    --navIcon_manual: url("/assets/img/icons/health_and_safety.png");
    --navIcon_settings: url("/assets/img/icons/system_settings.png");
    --videobox-bg: #ffffff9d;

    --manual_backButton: url("/assets/img/ui/wiiu/black-return.png");
    --manual_backButtonSize: 100%;

    --loading_wheelIcon: url("/assets/img/ui/wiiu/loading.png");
    --loading_bg: black;

    --users_nameColor: rgb(55, 99, 129);
    --users_tagColor: rgb(194, 194, 194);
    --users_descColor: rgb(85, 85, 85);

    --users_cardBg: var(--defaultDiv_bg);
    --users_cardFilters: var(--defaultDiv_filter);
    --users_cardShadow: var(--defaultDiv_shadow);

    --users_pfpBorder: 2px solid rgba(42,127,85,0.2);
    --users_pfpRadius: 50%;
    --users_pfpSize: 70px;

    --tooltip_bg: #222;
    --tooltip_color: #fff;
    --tooltip_padding: 8px 12px;
    --tooltip_radius: 8px;
    --tooltip_delay: 150ms;
    --tooltip_offset: 10px;
    --tooltip_arrowSize: 7px;
    --tooltip_font: var(--text_defaultFont);
}

@font-face {
  font-family: "Miiverse Symbols";
  src: url("/assets/font/MiiverseSymbols-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Wii Sans";
  src: url("/assets/font/WiiSans-Regular-4.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

input, textarea, select, option {
  font: inherit;
}