@import url("root.css");

main {
    display: flex;
    justify-content: center;
}

#video-player {
    border-radius: 20px;
    /*background: linear-gradient(to bottom, #50787b, #fff, #ebebeb, #b4e1e1);
    border: 3px solid #50787b;*/
    background: var(--defaultDiv_bg);
    border: var(--defaultDiv_border);
    backdrop-filter: var(--defaultDiv_filter);
    box-shadow: var(--defaultDiv_shadow);
    color: var(--defaultDiv_textColor);
    width: fit-content;
    height: fit-content;
    transform-origin: top;
    transform: scale(var(--viewer_size));
    margin-top: 80px;
}

#maininfo {
    display: flex;
    align-items: center;
    gap: 10px;
}

#video-player iframe {
    border-radius: 20px;
}

#video-info {
    padding: 10px;
    padding-left: 15px;
    color: var(--defaultDiv_textColor);
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

#pfp {
    border-radius: 50%;
    width: 50px;
    height: auto;
    border: 2px solid var(--misc_accentColor);
}

#title {
    font-size: large;
}

#author {
    color: var(--text_subColor);
    font-size: small;
}

#actions {
    margin-right: 5px;
}

#actions button span {
    font-family: var(--symbols-font)
}

.miiverse-btn #count {
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: bold;
}
